$colorBase: #2d31ff;
$fuentePrincipal: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$fuenteSecundaria: Verdana, Geneva, Tahoma, sans-seriff;
$esquinas: 25px;
$sombra: 5px 5px 20px rgba(0,0,0,.8);